argon2-cffi 
async-generator==1.10
attrs 
backcall==0.2.0
beautifulsoup4 
bleach 
brotlipy==0.7.0
cached-property==1.5.2
census==0.8.17
certifi==2020.6.20
cffi 
chardet==3.0.4
citipy==0.0.5
click==7.1.2
colorama 
configparser==5.0.2
crayons==0.4.0
cryptography
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-PyMongo==2.3.0
geojson==2.5.0
gmaps==0.9.0
gunicorn==20.1.0
h5py==3.1.0
idna 
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
itsdangerous==1.1.0
jedi 
Jinja2==2.11.2
jsonschema 
jupyter-client 
jupyter-core==4.6.3
jupyterlab-pygments
jupyterlab-widgets 
kdtree==0.16
Keras==2.4.3
kiwisolver==1.2.0
lxml
MarkupSafe==1.1.1
matplotlib
mistune==0.8.4
mkl-fft
mkl-random==1.1.1
mkl-service==2.3.0
nb-conda-kernels 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk==3.6.2
notebook
numpy==1.18.5
packaging==20.4
pandas 
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pprintpp==0.4.0
prometheus-client==0.8.0
prompt-toolkit
psycopg2==2.8.6
pycparser
Pygments
pymongo==3.11.0
pyOpenSSL
pyparsing==2.4.7
pyrsistent
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
regex==2021.4.4
requests
scipy
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
splinter==0.14.0
SQLAlchemy
terminado==0.9.1
testpath==0.4.4
tornado==6.0.4
tqdm==4.61.0
traitlets==4.3.3
urllib3
wcwidth
webdriver-manager==3.3.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension
win-inet-pton==1.1.0
wincertstore==0.2
zipp
