argon2-cffi @ file:///C:/ci/argon2-cffi_1596826740294/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
brotlipy==0.7.0
cached-property==1.5.2
census==0.8.17
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600681203656/work
chardet==3.0.4
citipy==0.0.5
click==7.1.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
configparser==5.0.2
crayons==0.4.0
cryptography @ file:///C:/ci/cryptography_1601046909128/work
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-PyMongo==2.3.0
geojson==2.5.0
gmaps==0.9.0
gunicorn==20.1.0
h5py==3.1.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1596472773465/work
Jinja2==2.11.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
kdtree==0.16
Keras==2.4.3
kiwisolver==1.2.0
lxml @ file:///C:/ci/lxml_1603216357477/work
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nb-conda-kernels @ file:///C:/ci/nb_conda_kernels_1600445421227/work
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
nltk==3.6.2
notebook @ file:///C:/ci/notebook_1601498601160/work
numpy==1.18.5
packaging==20.4
pandas @ file:///C:/ci/pandas_1592833608684/work
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pprintpp==0.4.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
psycopg2==2.8.6
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pymongo==3.11.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
regex==2021.4.4
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
scipy @ file:///C:/ci/scipy_1592930618155/work
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
splinter==0.14.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598356696886/work
terminado==0.9.1
testpath==0.4.4
tornado==6.0.4
tqdm==4.61.0
traitlets==4.3.3
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriver-manager==3.3.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1605475748812/work
win-inet-pton==1.1.0
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
