remove default margin and padding from body
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.mycluster1 {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}
.mycluster2 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ffdb58;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  box-sizing: border-box;
}

h2 {
  font-size: 2em;
  color: black;
  font-family: Papyrus, Helvetica, sans-serif;
  
}

h5 {
  font-size: 2em;
  color: #838383;
  font-family: Papyrus, Helvetica, sans-serif;
  

}

h6 {
  font-size: 4em;
  color: #004080;
  font-family: Arial, Helvetica, sans-serif;
}

/* This is the loader animation to the map */
body, html {
  height: 100%;
  text-align: center;
}

body {
background-color: #add8e6;
}

.loader {
display: inline-block;
width: 30px;
height: 30px;
position: relative;
border: 4px solid #Fff;
top: 50%;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}