<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Story</title>
  <link rel="icon" href="{{ url_for('static', filename='img/national-park.png')}}">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />


  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">


  <!-- Our CSS -->
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/story_style.css')}}">
  
</head>

<body>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">Visualization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/story">Story</a>
        </li>
        <li class="nav-item">
			<a class="nav-link" href="/team">Team</a>
        </li>
      </ul>
    </div>

    		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Story</h1>
							<p class="major">Our objective is to bridge the gap between all National Parks throughout the United States with a unique overlay of historical fire data that may influence your next camping decision.</p>
						</div>
						<div class="image">
							<img src="{{url_for('static', filename='img/camping-tent-view.jpg')}}" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Wildfires Causation </h2>
							<p>Wildfires are normally unplanned and unwanted events that are triggered either by lightning-caused fires, unauthorized human-caused fires,
								and escaped prescribed fire projects. Fun Fact: 90% of all wildfires are started by humans. According to the Congressional Research service, "The Forest Service within the U.S. Department of Agriculture
								carries out wildfire management and response across the 193 million acres of the National Forest System (NFS)." Whereas the Department of the Interior better known as
								the DOI manages most the States wildfire response for more than 400 million acrees of national. parks, wildlife refuges and pereseves historical public lands and Indian reservations. In 2020,
								over 58K wildfires took place and burned 10.3 million acres the most acreage impacted in a year. Nearly 40% of these acres took place in California.
							</p>
						</div>
						<div class="image">
							<img src="{{url_for('static', filename='img/campfire-pic.jpg')}}" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>National Parks</h2>
							<p>In 1916, President Woodrow Wilson implemented an act around the National Park Service. This service protects the sceneries, historic objects and the wild 
								life environment. There is total 407 sites with 28 different designations that is protected under this act. These include 127 historical parks, 78 national monuments,
								59 national parks, 25 battlefields, 19 preserves, 18 recreations areas, 10 seashores, four parkways, four lakesores, and two reserves (Sited by  <a href="https://www.outdoorproject.com/articles/59-fun-facts-about-our-national-parks">Outdoor Project</a>). 
							</p>
							<ul class="actions stacked">
							</ul>
						</div>
						<div class="image">
							<img src="{{url_for('static', filename='img/van-camping.jpg')}}" alt="" />
						</div>
                    </section>
                    
                    <!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Campgrounds Activities</h2>
							<p>Camping activity has consistently been on an incline in the past years. Fun Fact: 56% of campers are millennials. During the 2019-20 Pandemic, there has been 
								a huge demand for campsite bookings. Campsites has shown positive outlooks around problem solving, family time, improved sleeping patterns, happier emotions, and the list goes on. There are ton of great camping destinations across the United States.
								The top 5 States that stands our for the breathtaking views are: Colorado, Missouri, Montana, New Mexico, and New York.</p>
							<ul class="actions stacked">
							</ul>
						</div>
						<div class="image">
							<img src="{{url_for('static', filename='img/hammock-camp.jpg')}}" alt="" />
						</div>
					</section>

  </div>


  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js')}}"></script>
  <!-- JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js')}}"></script>

  

</body>

</html>
